.info-div {
    z-index: 6;
    background-color: rgba(255, 255, 255);
    position: fixed;
    top: 125%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s cubic-bezier(0,.89,.16,1.04) top;
    overflow: auto;
}

.info-content {
    margin: 40px 50px;
}

.info-text {
    margin-top: 20px;
}

.info-navi {
    padding: 10px 50px;
    overflow: hidden;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.info-x-button {
    float: right;
    cursor: pointer;
    font-size: 20px;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
    transition: .2s ease color;
}

.info-x-button:hover {
    color: gray
}

@media screen and (max-width: 530px) {
    .info-content {
        margin: 20px 6%;
    }

    .info-navi {
        padding: 10px 6%;
    }
}