@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.logo {
    font-family: "Quicksand";
    display: inline-block;
}

.disable {
    display: none;
}

.disable-v {
    visibility: hidden;
}

.logo span {
    font-family: 'Quicksand';
    color: var(--color-main)
}

.navbar {
    padding: 12px 0;
    border-bottom: var(--beauty-border)
}

.signin-div {
    border: var(--beauty-border);
    margin: auto;
    margin-top: 40px;
}

.tx-center {
    text-align: center;
}

.tx-left {
    text-align: left;
}

.tx-right {
    text-align: right;
}

.form-1 {
    padding: 50px 50px;
    border-radius: 5px;
}

.w-fit {
    width: fit-content;
}

.form-input-text {
    width: 100%;
}

.form-content {
    width: 500px;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 40px 0;
}

.form-element {
    margin-top: 20px;
}

.button {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease all;
    font-size: 14px
}

.button-main {
    background-color: var(--color-main);
    color: white;
}

.button-red-1 {
    background-color: var(--red-1);
    color: white;
}

.button-main:hover {
    background-color: var(--color-main-hover);
}


.form-title {
    font-size: 30px;
    font-family: "Quicksand";
}

.table-1 {
    border-collapse: collapse;
    max-width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
}

th.dark-mode {
    background-color: black;
}

tr:nth-child(even) {
    background-color: rgb(244, 244, 244);
}

tr.dark-mode:nth-child(even) {
    background-color: var(--dark-mode-bg-2);
}


.ov-au {
    overflow: auto;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}


.w-100 {
    width: 100%;
}

.x-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0 4px;
    float: right;
    transition: .2s ease all;
}

.x-button:hover {
    color: rgb(226, 226, 226);
}

.reject-button {
    background-color: var(--red-1);
    color: white;
}

.reject-button:hover {
    background-color: var(--red-1-hover);
}

.accept-button {
    background-color: var(--sky-blue-1);
    color: white;
}

.accept-button:hover {
    background-color: var(--sky-blue-1-hover);
}

.icon-title-h2-1 {
    transform: translate(3px, 5px);
    font-size: 28px !important;
}

p {
    line-height: 1.5rem;
}

.text-input-dark-1.dark-mode {
    background-color: rgba(120, 120, 120) !important;
    color: white;
}

.text-input-dark-1.dark-mode::placeholder {
    color: rgb(202, 202, 202) !important
}

.logo-vertical {
    color: white;
    font-size: 22px;
    display: block;
    padding: 20px 0;
    text-align: center;
}

.right-main-menu-div {
    padding: 60px 50px 50px;
    min-height: 100vh;
}

/* .right-main-menu-div.dark-mode {
    background: var(--dark-mode-bg-3-hover);
} */

.all-color-white-1.dark-mode {
    color: white
}

.all-p-1.dark-mode {
    color: white;
}

.all-brd-dk.dark-mode {
    border-color: white;
}

.standard-input {
    width: 450px;
}

.navbar.dark-mode {
    background-color: var(--dark-mode-bg-2);
    border-bottom: 1px solid var(--dark-mode-white-2);
}

.logo.dark-mode {
    color: var(--dark-mode-white);
}

.average-num.not-approved {
    color: #c0392b;
    background-color: #f5d5d2;
}

.enable-b-1 {
    display: block !important;
}

.average-num.not-approved.dark-mode {
    color: #ec2612;
}

.average-num.approved {
    color: #1b9c51;
    background-color: #cef7df
}

.average-num.approved.dark-mode {
    color: #1ab159;
}

.average-num.semi-approved {
    color: #f39c12;
    background-color: #fcecd2;
}

.average-num.semi-approved.dark-mode {
    color: #efbe0a;
}

.average-num.not-approved.dark-mode,
.average-num.approved.dark-mode,
.average-num.semi-approved.dark-mode {
    background-color: rgb(12, 12, 12)
}

.grid-layout-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.flex-layout-3-1 {
    display: flex;
    flex-wrap: wrap;
}

.flex-layout-3-1>div {
    flex-basis: 325px;
}

.grid-gap-1 {
    gap: 20px;
}

.grid-gap-2 {
    gap: 10px;
}

.profile-title {
    font-size: 20px;
}

.card-container-1 {
    padding: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.m-container {
    margin: 0px 7%;
}

.navbar-1 {
    padding: 12px 0;
    border-bottom: var(--beauty-border);
    overflow: hidden;
}

.switch-dark-mode-label {
    cursor: pointer;
    color: #AAAAAA;
    transition: color ease .2s;
}

.switch-dark-button {
    border: none;
    background-color: transparent;
}

.switch-dark-mode-logo.dark-mode {
    color: var(--color-main);
}

.switch-dark-mode-text {
    display: inline-block;
    transform: translateY(-7px);
    font-size: 17px;
}

.switch-dark-mode-logo {
    font-size: 29px !important;
}

.info-btn {
    border: none;
    border-left: 3px solid #aaa;
    display: inline-block;
    padding-left: 5px;
    background-color: transparent;
}

.box-cont-1 {
    border: var(--beauty-border);
    overflow: hidden;
    border-radius: 5px;
}

.cont-profile {
    padding: 40px;
}

.chart-1 {
    margin-top: 20px;
}

.view-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(95, 95, 95);
    font-size: 15px;
    transition: .2s color ease;
}

.view-more:hover {
    color: rgb(141, 141, 141)
}

.select-image-cr-cu {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(44, 44, 44, 0.1);
    overflow: hidden;
    border-radius: 5px;
}

.select-image-cr-cu-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.select-image-cr-cu-div>label {
    position: relative;
}

.select-image-cr-cu-input {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 17px;
    height: 17px;

}

.image-select {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form-2 {
    max-width: 1100px;
}

.select-image-cr-cu-div>label {
    display: block;
}

.navbar-1.dark-mode {
    background-color: var(--dark-mode-bg-2);
    border-bottom: 1px solid var(--dark-mode-white-2);
}

body.dark-mode {
    background-color: var(--dark-mode-bg-1);
}

.to-white.dark-mode {
    color: white;
}

.change-banner-banner {
    object-fit: cover;
    height: 150px;
    border-radius: 5px;
}

.change-banner-label {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 0.1);
}

.change-banner-input {
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.change-banner-container.active {
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    padding: 13px;
    max-height: unset;
}

.change-banner-container.dark-mode.active {
    border-top: none;
    border: 1px solid rgb(78 78 78);
}

.change-banner-container {
    max-height: 0;
    overflow: hidden;
}

input[type="text"].dark-mode,
input[type="password"].dark-mode,
input[type="number"].dark-mode,
input[type="email"].dark-mode,
input[type="search"].dark-mode,
select.dark-mode,
textarea.dark-mode {
    border: 1px solid transparent;
    background-color: var(--dark-mode-bg-3);
    color: var(--dark-mode-white);
}

input[type="text"].dark-mode::placeholder,
input[type="password"].dark-mode::placeholder,
input[type="number"].dark-mode::placeholder,
input[type="search"].dark-mode::placeholder,
input[type="email"].dark-mode::placeholder,
select.dark-mode::placeholder,
textarea.dark-mode::placeholder {
    color: var(--dark-mode-white-2);
}

input[type="text"].dark-mode:focus,
input[type="password"].dark-mode:focus,
input[type="number"].dark-mode:focus,
input[type="search"].dark-mode:focus,
input[type="email"].dark-mode:focus,
select.dark-mode:focus,
textarea.dark-mode:focus {
    background-color: var(--dark-mode-bg-3-hover);
    border: 1px solid gray;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
select,
textarea {
    padding: 12px;
    border-radius: 5px;
    border: var(--beauty-border);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border: var(--selected-border)
}

textarea {
    resize: none;
    overflow: auto;
}

#oops-logo {
    font-size: 200px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.text-single-1 {
    font-size: 18px;
}

.text-single-1:hover {
    color: var(--color-main-hover)
}

.text-single-1.dark-mode {
    color: var(--color-main-hover)
}

.text-single-1.dark-mode:hover {
    color: #61bca8
}

.generate-random-data-button {
    cursor: pointer;
    transition: .2s ease all;
    color: var(--color-main);
    padding: 9px;
    border-radius: 5px;
    margin: 5px 0 10px;
}

.panel-error {
    background-color: #ffc8c8;
    padding: 15px;
    border: 1px solid #d63031;
    border-radius: 5px;
}

.panel-success {
    background-color: #c2f5d7;
    padding: 15px;
    border: 1px solid #27ae60;
    border-radius: 5px;
}

.panel-error.dark-mode {
    background-color: #7d2020;
    color: white;
}

.button-main-cty {
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
}

.button-main-cty.dark-mode {
    background-color: rgb(41, 41, 41);
    border-width: 2px;
    font-weight: bold;
}

.done-button {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

.done-button.dark-mode {
    border: 1px solid rgb(209, 209, 209);
    color: rgb(209, 209, 209);
}

.done-button.dark-mode:hover {
    border: 1px solid rgb(182, 182, 182);
    color: rgb(182, 182, 182);
}


.done-button:hover {
    border: 1px solid rgb(151, 151, 151);
    color: rgb(151, 151, 151);
}

.profile-data {
    cursor: pointer;
}

.p-40 {
    padding: 40px;
}



#oops-logo-2 {
    font-size: 75px;
}

.form-content-2 {
    width: 100%;
    max-width: 700px;
}

.grid-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-1 {
    max-height: 400px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.input-standard-2 {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    padding: 15px;
    transition: .2s ease all;
    cursor: pointer;
}

.input-standard-2.dark-mode {
    background-color: rgb(32 32 32);
    border: 1px solid rgb(78 78 78);
    color: white;
}

.input-standard-2.dark-mode:hover, .input-standard-2.dark-mode.active {
    background-color: rgb(39, 39, 39);
}

.input-standard-2:hover, .input-standard-2.active {
    background-color: rgb(238, 238, 238);
}

.user-circle {
    width: 150px;
    height: 150px;
    box-shadow: 7px 7px 10px rgba(129, 129, 129, 0.1);
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1942%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1943)'%3e%3c/rect%3e%3cpath d='M1440 0L947.9100000000001 0L1440 228.05z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M947.9100000000001 0L1440 228.05L1440 305.92L736.2900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M736.29 0L1440 305.92L1440 401.66L438.29999999999995 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M438.29999999999995 0L1440 401.66L1440 488.61L197.25999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L680.33 560L0 480.39z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 480.39L680.33 560L1009.1800000000001 560L0 226.80999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 226.81L1009.1800000000001 560L1126.78 560L0 131.98000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 131.98000000000002L1126.78 560L1252.42 560L0 49.56000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1942'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1943'%3e%3cstop stop-color='rgba(233%2c 233%2c 233%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(199%2c 217%2c 142%2c 1)' offset='0.99'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.profile-logo {
    font-size: 60px;
    margin: 20px 0;
    color: rgb(41, 41, 41)
}

.title-error-layouts-1, #oops-logo {
    margin-bottom: 30px;
}

#chart-4 {
    grid-column: 1 / span 2;
}

.image-course-search {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

@media screen and (max-width: 1320px) {
    .select-image-cr-cu-div {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 1190px) {
    .grid-layout-2-1 {
        grid-template-columns: 1fr;
    }

    #chart-4 {
        grid-column: initial;
    }
}

@media screen and (max-width: 935px) {
    .select-image-cr-cu-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .table-div {
        overflow: auto;
        max-width: 100%;
    }

    .h2-title-1 {
        font-size: 20px;
    }

    .all-p-1, .average-num {
        font-size: 15px
    }
}

@media screen and (max-width: 650px) {
    .card-container-1 {
        padding: 40px 7%;
    }
}

@media screen and (min-width: 610px) {
    .switch-dark-mode-label:hover .switch-dark-mode-logo {
        color: var(--color-main-hover);
    }
}

@media screen and (max-width: 610px) {
    .cont-profile {
        border: none;
        padding: 0;
    }

    .title-stats {
        font-size: 20px;
    }

    .title-error-layouts-1 {
        font-size: 20px;
    }

    #oops-logo {
        font-size: 125px;
    }

    .title-error-layouts-1, #oops-logo {
        margin-bottom: 20px;
    }

    .select-image-cr-cu-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .standard-input {
        width: 100%;
    }

    .form-content {
        width: 100%;
    }

    .signin-div {
        margin: unset;
        width: 100%;
        border: none;
    }

    .form-1 {
        padding: 50px 7%;
    }

    .logo {
        font-size: 20px;
    }

    .form-title {
        font-size: 30px;
        text-align: center;
    }

    .navbar {
        padding: 12px 0;
    }
}

@media screen and (max-width: 560px) {
    .card-container-1 {
        padding: 25px 6%;
    }
}

@media screen and (max-width: 445px) {
    .x-button {
        transform: translateX(6px);
    }
}